<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "WishList" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="text-center medium-text-left">
  <div class="title-bar show-for-small-only" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <nav class="top-bar" id="main-menu" data-topbar role="navigation">
    <section class="top-bar-left">
      <ul class="menu vertical medium-horizontal">
        <li class="menu-text show-for-medium">WishList</li>
        <% if user_signed_in? %>
        <%= nav_link 'My WishLists', lists_path %>
        <%= nav_link 'My Invitations', invitations_path %>
        <%= nav_link 'My Notifications', notifications_path %>
        <%= nav_link 'Gifts to buy', gifts_to_buy_path %>
        <% end %>
      </ul>
    </section>
    <section class="top-bar-right">
      <ul class="menu vertical medium-horizontal">
        <li class="menu-text show-for-small-only">User</li>
        <% if user_signed_in? %>
        <%= nav_link 'Account (' + current_user.email + ')', edit_user_registration_path %>
        <li><%= link_to 'Logout', destroy_user_session_path %></li>
        <% else %>
        <%= nav_link 'Account', new_user_session_path %>
        <% end %>
      </ul>
    </section>
  </nav>
</header>

<div class="flash" id="flash">
  <% flash.each do |key, value| %>
    <div  class="<%= key %>"><%= value %></div>
  <% end %>
</div>

<div class="main-content">
  <%= yield %>
</div>

</body>
</html>