<div class="row">
  <div class="small-12 columns">
    <h1>I have to buy these gifts</h1>
    <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>Price</th>
        <th>For</th>
      </tr>
    </thead>
    <tbody>
      <% @gifts.each do |g| %>
        <tr>
          <td><%= g.title %></td>
          <td><%= g.description %></td>
          <td><%= link_to g.link, g.link %></td>
          <td><%= g.price %></td>
          <td><%= g.list.user.email %></td>
        <tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>