<div class="row">
  <div class="small-12 columns">
  <h1>Wish lists</h1>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Address</th>
        <th>Event date</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Invited users</th>
      </tr>
      </thead>
      <tbody>
      <% @lists.each do |l| %>
        <tr>
          <td><%= link_to l.title, list_path(l.id) %></td>
          <td><%= l.description %></td>
          <td><%= l.address %></td>
          <td><%= l.event_date %></td>
          <td><%= link_to 'Edit', edit_list_path(l) %></td>
          <td><%= link_to 'Destroy', list_path(l), method: :delete, data: { confirm: "Destroy?"} %></td>
          <td>
            <% l.invitations.each do |i| %>
              <%= i.user.email %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>