<div class="row">
  <div class="small-12 columns">
  <h1>Wish lists</h1>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Code</th>
        <th>Creator</th>
      </tr>
      </thead>
      <tbody>
      <% @lists.each do |l| %>
        <tr>
          <td><%= link_to l.title, list_path(l.id) %></td>
          <td><%= l.description %></td>
          <td><%= link_to 'Edit', edit_list_path(l) %></td>
          <td><%= link_to 'Destroy', lists_path(l), method: :delete, data: { confirm: "Destroy?"} %></td>
          <td><%= l.share_code %></td>
          <td><%= current_user.email %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>