<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event <%= @notification.list.title %> will be soon!</h1>
    <p>
      We are sending this e-mail because you set the notification in Wishlist.
    </p>
    <p>
      We want to notify you because the event <%= @notification.list.title %> will be on <%= @notification.list.event_date %>. <%= link_to 'Click for more information about event.', list_detail_url(@notification.list_id) %>.
    </p>
      <% if !@gifts.blank? %>
        <h2>You should buy these gifts:</h2>
        <% @gifts.each do |g| %>
          Title: <%= g.title %>, price: <%= g.price %>, link: <%= g.link %><br>
        <% end %>
      <% else %>
        <p>You haven't chosen any gift yet. You can choose some gift from <%= link_to 'list', list_detail_url(@notification.list_id) %>.</p>
      <% end %>
  </body>
</html>