<% @invitations.each do |i| %>
    <div class="row <% if i.list.event_date < DateTime.now %>passed-row<% end %>">
      <div class="small-8 columns">
        You have been invited to event <%= link_to i.list.title, list_detail_path(i.list.id) %>.<br>
        Event date is <%= i.list.event_date %>.<br>
        <%= link_to 'Click for more information', list_detail_path(i.list.id) %><br>
        <% if i.list.event_date < DateTime.now %><strong>This event already passed.</strong><% end %>
      </div>
      <div class="small-4 columns">
        <%= link_to 'Accept', accept_invitation_on_event_path(i.id), {class: 'button success'} %>
        <%= link_to 'Decline', decline_invitation_on_event_path(i.id), {class: 'button alert', data: { confirm: "Do you really want to decline your invitation? All gifts you have chosen to buy will be avaible to other users." }} %>
        <p>
          <% if i.status == true %>
            You accepted the invitation.
          <% elsif i.status == false %>
            You declined the invitation.
          <% else %>
            You neither accepted neihter declined the invitation.
          <% end %>
        </p>
      </div>
      <hr>
    </div>
<% end %>