<% if @list.event_date < DateTime.now %>
  <%= render partial: "shared/passed" %>
<% end %>

<% if @notification.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

    <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h1>Set notification</h1>
    <p>Here you can set a notification for particular event.</p>
    <p>This notification will be send to you via e-mail on date you will choose.</p>
    <p>Date of the notification has to be between <strong>today and date of event (<%= @list.event_date %>).</strong></p>
  </div>
</div>

<%= form_for @notification do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
  </div>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Create notification", { class: 'button' } %>
    </div>
  </div>
<% end %>