<% if @list.event_date < DateTime.now %>
  <%= render partial: "shared/passed" %>
<% end %>

<% if @notification.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

    <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h1>Set notification for <%= @list.title %></h1>
    <p>Here you can create a notification that will send you an e-mail on the chosen day before the event at 7:30 a.m. The event date is <%= @list.event_date.strftime("%d. %m. %Y, %H:%M") %>.</p>
    <p>After the notification is sent to your e-mail it will be automatically removed.</p>
  </div>
</div>

<%= form_for @notification do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :date, 'Notification date' %>
      <%= f.text_field :date, class: 'datetimepicker' %>
    </div>
  </div>
  <%= f.hidden_field :list_id, :value => @list.id %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Create notification", { class: 'button' } %>
    </div>
  </div>
<% end %>

<script>
  var nowTemp = new Date();
  var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
  var eventDate = new Date(<%= @list.event_date.year %>, (<%= @list.event_date.month %>-1), <%= @list.event_date.day %>, 0, 0, 0, 0);
  $('.datetimepicker').fdatepicker({
    format: 'dd. mm. yyyy',
    onRender: function (date) {
      return ((date.valueOf() < now.valueOf() || date.valueOf() > eventDate.valueOf()) ? 'disabled' : '');
    }
  }).data('datepicker');
</script>