<% if @gift.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

    <ul>
      <% @gift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@list, @gift] do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :price %>
      <%= f.number_field :price, min: 0 %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :link %>
      <%= f.text_field :link, placeholder: 'www.somelink.com' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
        <%= f.submit "Insert new gift to current list", { class: 'button' } %>
    </div>
  </div>
<% end %>