<div class="row">
<div class="small-12 columns">
  <a href="#" data-reveal-id="myModal" class="button">Add Gift</a>
  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render template: 'gifts/new' %>  
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>
</div>
<div class="row">
<div class="small-12 columns">
  <h1>Gifts in list <%= @list.title %></h1>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @gifts.each do |g| %>
      <tr>
        <td><%= g.title %></td>
        <td><%= g.description %></td>
        <td><%= link_to g.link, g.link %></td>
        <td><%= g.price %></td>
        <td>
          <% if g.assigned_user_id %>
            Some user has chosen this gift. It is not possible to edit it now.
          <% else %>
            <%= link_to 'Edit', edit_list_gift_path(@list, g), class: 'button expand notice' %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', list_gift_path(@list, g), { method: :delete, class: 'button expand alert', data: { confirm: "Destroy?"} } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
</div>