<div class="row">
<div class="small-12 columns">
  <h1>Gifts in list <%= @list.title %></h1>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Price</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <% @gifts.each do |g| %>
      <tr>
        <td><%= g.title %></td>
        <td><%= g.description %></td>
        <td><%= link_to g.link, g.link %></td>
        <td><%= g.price %></td>
        <td>
        <%= form_tag({:controller => "gifts", :action => "assign"}, method: :post) do %>
             <%= text_field_tag :assigned_to, g.assigned_to, {:placeholder=>"Search"}  %>
             <%= hidden_field_tag :gift_id, g.id %>
             <%= submit_tag "Set" %>               
        <% end %>
        </form>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
</div>