<div class="row">
  <div class="small-4 small-centered columns">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="small-12 columns">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
